/*test*/
.jumbotron {
	background-image: url("Mainpic/pic3_resized.jpg");
	height: 500px;
	background-size: cover;
	background-position: right ;
	color: white;
}

@media screen and (max-width:700px) {
	.jumbotron {
		height: 300px;
		font-size: 50px;
	}

}

.jumbotron h1 {
	text-shadow: 2px 2px #393939;
	font-size: 70px;


	font-weight: bold;
	position: relative;
	top: 100px;
	padding-left: 20px;
}

.jumbotron h3 {
	text-shadow: 2px 2px #393939;
	font-size: 47px;
	
	position: relative;
	top: 100px;
	padding-left: 40px;
}